/* #8758ff */
/* #1A1A40 */
.passwordtablesection {
    max-height: 38%; /* Adjust based on the container */
    width: 100%;
    overflow-x: auto; /* Horizontal scrolling */
    overflow-y: auto; /* Vertical scrolling */
    padding: 30px; /* Optional: padding for spacing */
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: default;
}
.passwordtablesection{
    user-select: none;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.passwordtablesection::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.sectiontable {
    width: 75%;
    border-collapse: collapse;
}
.tablehead{
    background-color: #8758ff;
}
.tableBody{
    background-color: #1A1A40;

}
.sectiontable th, .sectiontable td {
    border: 1px solid #ddd;
    padding: 15px;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Styling for the first column (URL) */
.sectiontable th:nth-child(1), .sectiontable td:nth-child(1) {
    width: 50%; /* Adjust width for longer URLs */
}

/* Styling for the second column (Username) */
.sectiontable th:nth-child(2), .sectiontable td:nth-child(2) {
    width: 25%; /* Adjust width for usernames */
}

/* Styling for the third column (Password) */
.sectiontable th:nth-child(3), .sectiontable td:nth-child(3) {
    width: 25%; /* Adjust width for passwords */
    padding-left: 15px;
}
.passwordinputtable{
    width: 75%;
    height: 35px;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: white;
    border: none;
    cursor: default;
}

.passwordsectiontable{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}
.passwordsectiontable svg{
    font-size: 1.5rem;
    cursor: pointer;
}